<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>segoeuithibd.ttf</string>
		<string>segoeuithis.ttf</string>
		<string>segoeuithisi.ttf</string>
		<string>segoeuithisz.ttf</string>
	</array>
</dict>
</plist>
